@font-face {
  font-family: 'Nunito SemiBold';
  src: url('./fonts/Nunito-SemiBold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

body {
  background: #eee;
  font-family: "Nunito SemiBold", "Arial";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
